#slide
{
  width: 100%;
  max-height: auto;
}

#nav
{
  width: 120px;
  max-height: 55px;
  padding-bottom: 25px;
}
#cntr
{
  display: block;
  margin: auto;
  width: 40%;
  padding-bottom: 50px;
}
#video
{
  width: 550px;
  height: 260px;
}

.otherImg
{
  width: 100%;

  max-height: 100%;
  background-image: url("images/thumbnail2.jpg");
  background-size: contain;
}
.classPad
{
  margin: 10px;
  padding: 10px;
}
.media-border
{
  width: 100%;

  max-height: 100%;
  background-image: url("images/thumbnail1.jpg");
  background-size: contain;

}
.media-border-text
{
  position:    absolute;
  bottom:      0px;
  width: 80%;
  font-size:   140%;
  color:       #fff;
  padding:     0 20px;
  text-align: left;
  line-height: 140%;
  background:  rgb(0, 0, 0);
  background:  rgba(0, 0, 0, 0.7);
}
#linkVideo1
{
  width: 100%;
  max-height: auto;
  position: relative;
}

.frame1
{
  width: 100%;
  max-height: auto;
}
.infoBox
{
  padding: 50px 50px 20px 50px;
  background-color: rgb(45, 45, 48);
}
.navbar {
    margin-bottom: 0 !important;
    border-radius:0 !important;
}
